@use '../../styles/variables' as *;

h2 {
    text-align: center;
    color: white;
    font-family: 'Bruno Ace';
}

.instructions {
    display: flex;
    flex-direction: column;
    background-color: $dark-blue;

    &__all {
        display: flex;
        flex-direction: column;
    }

    &__individual {
        background-color: white;
        border-radius: 10px;
        padding: 1rem;
        text-align: center;
        margin: 1rem;
    }
}

button {
    padding: 1rem;
}